.btn-section {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 8px;
    padding: 0;
}

.controls p {
    margin: 0;
}

.table tr *:last-child {
    width: 70%;
}

.swal2-title {
    font-size: 20px;
}

.swal-edit {
    padding: 5px;
}

.swal-edit .input-group input:first-of-type {
    width: 70%;
}

.swal2-modal.main-menu .swal2-html-container {
    margin: 0;
}

.swal2-modal.grouped-section .swal2-html-container {
    max-height: 70vh;
    overflow-y: scroll;
}